/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* Colors and backgrounds  ----------------------------------------------------*/
body {
  color: #656360;
  background: #f1ede8 url(../img/noise-all.jpg);
}
body a:hover {
  color: #05bc23;
}
a {
  color: #555454;
}
header,
footer {

  background:url(../img/greenBar.jpg);
  background-repeat: repeat-x;
  background-position: top left;
}

footer {
  background:url(../img/greenBar.jpg);
  background-repeat: repeat-x;
  background-position: bottom left;
}

/* Selection colours (easy to forget) */
::selection {
  background: #383838;
}
::-moz-selection {
  background: #383838;
}
img::selection {
  background: #383838;
}
img::-moz-selection {
  background: #383838;
}
body {
  -webkit-tap-highlight-color: #cb5432;
}
#headline,
.masthead {
  color: #444444;
}
/* NAVIGATION ------------------------------------------------------------*/
.menu> li > a {
  color: #555454;
}
.menu > li > a:hover{
  color: #FFFFFF !important;
}
.menu > li:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /*border-top: 3px solid #cb5432;*/
  background: #05bc23;
}/*
.menu span:hover {
  -webkit-transform: translate(-12px, -1px);
  -moz-transform: translate(-12px, -1px);
  -o-transform: translate(-12px, -1px);
  transform: translate(-12px, -1px);
}*/
.menu > li.current-menu-item,
.menu > li.current_page_item {
   /*border-top: 3px solid #cb5432;*/
   background: #05bc23;
   color:#FFFFFF;
}

.current-menu-item a,
.current_page_item a {
   color:#FFFFFF !important;
}

.menu .sfHover ul {
  background: #555454;
}
.menu .sfHover ul li a {
  color: #444444;
}
.menu .sfHover ul li a:hover {
  background: #05bc23;
  /*color: #cb5432;*/
}

/* FILTERED ITEMS ----------------------------------------------------*/#filter-buttons li a {
  color: #444;
  border-bottom: 2px solid transparent;
}
#filter-buttons li a:hover,
#filter-buttons li a.selected {
  border-bottom: 2px solid #444;
}
#filter-container figure {
  background: #f8f5f2;
}
#filter-container figure .thumb {
  background: #cb5432 url(../img/icon-link.png) center center no-repeat;
}
#filter-container figure figcaption .heading {
  color: #444444;
}
#filter-container figure figcaption .heading:hover {
  color: #cb5432;
}
#filter-container figure .readmore {
  color: #444444;
}
#filter-container figure .readmore:hover h5 {
  color: #cb5432;
}
/* PORTFOLIO ----------------------------------------------------*/#portfolio-content #filter-container a {
  color: #888;
}
#portfolio-content #filter-container a:hover {
  color: #cb5432;
}
#portfolio-content .project-pager a {
  color: #444444;
}
#portfolio-content .project-pager a:hover {
  color: #cb5432;
}
#portfolio-content #project-box {
  background: #f8f5f2;
}
#portfolio-content #project-box .info .launch:hover {
  color: #f1f1f1;
  background: #cb5432;
}
/* RELATED PROJECTS ---------------------------------------------------*/
.related-projects figure .heading {
  color: #444444;
}
.related-projects figure .heading:hover {
  color: #cb5432;
}
.related-projects figure .thumb {
  background: #cb5432 url(../img/icon-link.png) no-repeat center center;
}
/* CONTACT  ----------------------------------------------------*/#map-holder {
  background: #f8f5f2;
}
/* BLOG ------------------------------------------------------------*/
#posts-list article .box {
  background: #f8f5f2 url(../img/meta-bg.png) repeat-y top right;
}
#posts-list article .box .entry-date {
  color: #dcd2be;
  background: #2d2d2d;
}
#posts-list article .box .excerpt .post-heading {
  color: #444444;
}
#posts-list article .box .excerpt .post-heading:hover {
  color: #cb5432;
}
#posts-list article .box .excerpt .learnmore {
  background: #2d2d2d;
  color: #f8f5f2;
}
#posts-list article .box .excerpt .learnmore:hover {
  background: #cb5432;
}
#posts-list article .box .meta a {
  color: #656360;
}
#posts-list article .box .meta a:hover {
  color: #cb5432;
}
#posts-list article.format-standard .feature-image {
  background: #cb5432 url(../img/icon-link.png) no-repeat center center;
}
#posts-list article.format-image .feature-image {
  background: #cb5432 url(../img/icon-popup.png) no-repeat center center;
}
body.single #posts-list article {
  background: #f8f5f2;
}
body.single #posts-list .box .meta {
  background: #f8f5f2 url(../img/meta-bg-vertical.png) repeat-x top right;
}
/* PAGE NAVIGATION ------------------------------------------------------------*/
#main .page-navigation a {
  color: #444444;
}
#main .page-navigation a:hover {
  color: #05bc23;
}

#main .page-navigation .page-number-panel span:hover{
  border:1px solid #05bc23;
}

#main .page-navigation .page-number-panel span.select{
  border:1px solid #05bc23;
  color: #05bc23;
}

/* SIDEBAR ------------------------------------------------------------*/
#sidebar .cat-item a .post-counter,
#sidebar .page_item a .post-counter {
  color: #656360;
}
/* SLIDER ----------------------------------------------------*/.lof-slidecontent .slider-description {
  color: #e6e6e6;
}
.lof-slidecontent .slider-description a {
  color: #FFF;
}
.lof-slidecontent .slider-description a.readmore {
  color: #fcb019;
}
.lof-slidecontent .active {
  border-top: 3px #05bc23 solid;
}
/* FOOTER ----------------------------------------------------*/footer {
  color: #8f8e8e;
}
footer h4 {
  color: #fff;
}
footer a {
  color: #8f8e8e;
}
footer a:hover {
  color: #8f8e8e;
}

/* custom css */

.navigation li {
    border: 1px solid #8f8e8e;
    float: left;
    margin: 0 3px;
    padding: 5px 10px;
}
.select
{
	border: 1px solid #05bc23!important;
    color: #05bc23;
}
